@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@* this is a view *@

<h2 class="text-center mb-5">Characters</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" href="/CreateCharacter">Create Character</a>
    </div>
    
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Race</th>
        <th>Class</th>
        <th>Level</th>
    </tr>
    @* model.characters references the characters list in the model behind this page *@
    @foreach(var character in Model.Characters)
    {
        <tr>
            <td>@character.CharacterId</td>
            <td>@character.Name</td>
            <td>@character.Race</td>
            <td>@character.Class</td>
            <td>@character.Level</td>
            <td style="white-space:nowrap">
                <a class="btn btn-primary btn-sm">Edit</a>
                <form method="post" asp-page-handler="Delete" asp-route-characterID="@character.CharacterId">
                    <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete @character.Name?');">Delete</button>
                </form>
            </td>
        </tr>   
    }
</table>
